body {
    font-family: cursive;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.6rem;
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 5.5rem;
    min-width: 120px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 80px;
    margin: 0 10px;
    background-color: beige;
    cursor: pointer;
    transition: background-color 0.5 ease;
}

.choices button:hover {
    background-color: hsl(60, 86%, 85%);
}

#playerDisplay,
#computerDisplay {
    font-size: 1.8rem;
}

#resultDisplay {
    font-size: 3rem;
    margin: 30px 0;
}

#scoreDisplay {
    font-size: 1.4rem;
}

.greenText,
#playerScoreDisplay {
    color: rgb(14, 167, 14);
}

.redText,
#computerScoreDisplay {
    color: red;
}